pkgbase = jupiter-fan-control
	pkgdesc = CachyOS - Deckify Steam Deck Fan Control
	pkgver = 20260319.1
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	makedepends = rsync
	makedepends = openssh
	depends = python3
	depends = python-pyaml
	options = !strip
	options = !debug
	source = git+https://github.com/evlaV/jupiter-fan-control.git#tag=20260319.1
	sha256sums = c602b8d01664c6569b9290f58e216ced6a3e7046916e22df29541dc583adb572
	sha512sums = d922a8409675f698ea811445f92341daca0dc8cadb411604fef899a223498fcad1c5f8723b1a55041d153bbb5374e96a1c26c147399c11765e67aa14d476da6b

pkgname = jupiter-fan-control
